page{
	background-color: #f6f6f6;
}
.header{
	width: 750rpx;
	height: 507rpx;
	background-color: #50ce13;
	.headerWord{
		padding: 39rpx 0;
		text-align: center;
		font-family: PingFang-SC-Medium;
		font-size: 32rpx;
		font-weight: normal;
		font-stretch: normal;
		color: #ffffff;
	}
	.btn{
		width: 690rpx;
		height: 80rpx;
		background-color: #ffffff;
		box-shadow: 0rpx 6rpx 0rpx 0rpx 
			rgba(46, 140, 0, 0.6);
		border-radius: 40rpx;
		line-height: 80rpx;
		font-family: PingFang-SC-Medium;
		font-size: 28rpx;
		font-weight: normal;
		font-stretch: normal;
		color: #333333;
		margin: 0 auto;
		margin-bottom: 47rpx;
	}
	.man{
		padding: 0 40rpx;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.img{
				width: 88rpx;
				height: 88rpx;
				background-color: #ffffff;
				border: solid 3rpx #ffffff;
				border-radius: 50%;
			}
			view{
				font-family: PingFang-SC-Medium;
				font-size: 24rpx;
				font-weight: normal;
				font-stretch: normal;
				color: #ffffff;
				margin-top: 20rpx;
			}
		}
	}
}
.formcontent{
	width: 710rpx;
	height: 1284rpx;
	background-color: #ffffff;
	border-radius: 10rpx 10rpx 0rpx 0rpx;
	// position: relative;
	// top: -100rpx;
	margin: 0 auto;
	margin-top: -100rpx;
	.formcontentbottom{
		width: 710rpx;
		height: 100rpx;
		background-color: #f8f8f8;
		margin: 0 auto;
		font-family: PingFang-SC-Medium;
		font-size: 28rpx;
		font-weight: normal;
		line-height: 100rpx;
		font-stretch: normal;
		color: #333333;
		text-align: center;
	}
	.item{
		padding: 0 19rpx;
		height: 116rpx;
		border-bottom: 1px solid #e3e3e3;
		display: flex;
		align-items: center;
		input{
			flex: 1;
			font-family: PingFang-SC-Medium;
			font-size: 30rpx;
			font-weight: normal;
			font-stretch: normal;
			line-height: 36rpx;
			letter-spacing: 0rpx;
			color: #999999;
			text-align: right;
			padding-left: 18rpx;
		}
	}
	.btn{
		width: 670rpx;
		height: 89rpx;
		background-image: linear-gradient(90deg, 
			#6fde39 0%, 
			#46c806 100%), 
		linear-gradient(
			#47cfec, 
			#47cfec);
		background-blend-mode: normal, 
			normal;
		border-radius: 44rpx;
		font-family: PingFang-SC-Medium;
		font-size: 30rpx;
		font-weight: normal;
		font-stretch: normal;
		line-height: 89rpx;
		color: #ffffff;
		margin: 0 auto;
		margin-top: 49rpx;
	}
}

.qualifyWrap{
	margin-top: -100rpx;
	.nav{
		width: 750rpx;
		height: 110rpx;
		background-color: #ffffff;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.word{
			font-family: PingFang-SC-Bold;
			font-size: 33rpx;
			font-weight: normal;
			font-stretch: normal;
			color: #333333;
			height: 110rpx;
			line-height: 110rpx;
			position: relative;
		}
		.active{
			color: #50ce13;
			.line{
				width: 50%;
				margin: 0 auto;
				border-bottom: 4rpx solid #50ce13;
				position: absolute;
				left: 25%;
				bottom: 0;
			}
		}
	}
	.qrcodeWrap{
		width: 750rpx;
		height: 667rpx;
		background-color: #ffffff;
		margin-top: 27rpx;
		text-align: center;
		.img{
			width: 500rpx;
			height: 500rpx;
			margin-top: 50rpx;
		}
		.word{
			font-family: PingFang-SC-Bold;
			font-size: 30rpx;
			font-weight: normal;
			font-stretch: normal;
			margin-top: 27rpx;
			color: #666666;
		}
	}
}
